{% extends 'base.html' %}
{% block body %}

<br/><br/>
<div class="container-fluid">
<h2 class="text-center">
All Events
<br/>
<small>
Donation Total:
$8,072,948.23 (218459) &mdash;
Max/Avg Donation:
$200,556.24/$36.95
</small>
</h2>
<div class="col-xs-4 col-xs-offset-4">
<p class="center-block"><br/></p>
<p class="center-block"><a class="btn btn-default btn-block" href="/tracker/runs/">View Runs (1424)</a></p>
<p class="center-block"><a class="btn btn-default btn-block" href="/tracker/prizes/">View Prizes (931)</a></p>
<p class="center-block"><a class="btn btn-default btn-block" href="/tracker/bids/">View Bids (1207)</a></p>
<p class="center-block"><a class="btn btn-default btn-block" href="/tracker/donors/">View Donors (103332)</a></p>
<p class="center-block"><a class="btn btn-default btn-block" href="/tracker/donations/">View Donations (218459)</a></p>
<p class="center-block"><a class="btn btn-info btn-block" href="/tracker/events/">Select another Event</a></p>
<br/>
</div>
</div>
<p align="center">
</p>

{% endblock %}