	{% extends 'base.html' %}

	{% block title %}
	All Donors &mdash; AGDQ
	{% endblock %}

	{% block body %}

	<div class="container-fluid">
		<h2 class="text-center">
			<p>Donor Index &mdash; All Events </p>
		</h2>
		<table class="table table-condensed table-striped small">
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Alias
					</th>
					<th>
						Total
					</th>
					<th>
						Max Donation
					</th>
				</tr>
			</thead>
			{% for donor in donors %}
			<tr>
				<td>
					<a href="/tracker/donor/{{donor.user_id}}/">{{donor.name}}</a>
				</td>
				<td>
					{{donor.alias}}
				</td>
				<td>
					$??.?? (?)
				</td>
				<td>
					$??.??/$??.??
				</td>
			</tr>
			{% endfor %}

	</table>
	<p class="text-center larger">

		<a href="?page=1" class="first"><span>&lt;&lt; </span></a>


		{% for page in page_range %}
		{% if page == current_page %}
		{{page}}
		{% else %}
		<a href="?page={{page}}">{{page}}</a>
		{% endif %}
		{% endfor %}


		<a href="?page={{pages.num_pages}}" class="last"><span>&gt;&gt; </span></a>

	</p>
	<p class="text-center extra-spacing"><a href="/tracker/" class="btn btn-default">
		Back to Main Index</a></p>
	</div>
	<p align="center">
	</p>

	{% endblock %}