	{% extends 'base.html' %}

	{% block title %}
	All Donors &mdash; AGDQ
	{% endblock %}

	{% block body %}

	<div class="container-fluid">
		<h2 class="text-center">
			<p>Donor Index &mdash; All Events </p>
		</h2>
		<table class="table table-condensed table-striped small">
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Alias
					</th>
					<th>
						Total
					</th>
					<th>
						Max Donation
					</th>
				</tr>
			</thead>
			{% for donor in donors %}
			<tr>
				<td>
					<a href="/tracker/donor/{{donor.user_id}}/">{{donor.name}}</a>
				</td>
				<td>
					{{donor.alias}}
				</td>
				<td>
					$??.?? (?)
				</td>
				<td>
					$??.??/$??.??
				</td>
			</tr>
			{% endfor %}

	</table>
	<p class="text-center larger">
		{% if "1" != current_page %}
		<a href="?page=1" class="first"><span>&lt;&lt; </span></a>
		{% endif%}

		{% for page in page_range %}
		{% if page == current_page %}
		{{page}}
		{% else %}
		<a href="?page={{page}}">{{page}}</a>
		{% endif %}
		{% endfor %}

		{% if pages.num_pages != current_page %}
		<a href="?page={{pages.num_pages}}" class="last"><span>&gt;&gt; </span></a>
		{% endif %}
	</p>
	<div class="text-center">
		<form action="" method="get">
			<label for="page">
				Page
			</label>
			<select name="page">
				<option selected="selected">1</option>
				<option>2</option>
				<option>2</option>
				<option>2</option>
				<option>2</option>
				<option>2</option>
				<option>2</option>
				<option>2</option>

			</select>
			<label for="sort">of 2067</label>
			<input class="btn btn-primary btn-sm" type="submit" value="Go"/>
		</form>
	</div>
	<p class="text-center extra-spacing"><a href="/tracker/" class="btn btn-default">
		Back to Main Index</a></p>
	</div>
	<p align="center">
	</p>

	{% endblock %}