<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
 PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://gamesdonequick.com/static/tracker/main.css"/>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/tracker/">Home</a></li>
          <li><a href="/tracker/runs/">Runs</a></li>
          <li><a href="/tracker/prizes/">Prizes</a></li>
          <li><a href="/tracker/bids/">Bids</a></li>
          <li><a href="/tracker/donors/">Donors</a></li>
          <li><a href="/tracker/donations/">Donations</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
            <ul class="dropdown-menu small">
              <li><a href="/tracker/event/cgdq">Classic Games Done Quick</a></li>
              <li><a href="/tracker/event/agdq2011">Awesome Games Done Quick 2011</a></li>
              <li><a href="/tracker/event/jrdq">Japan Relief Done Quick</a></li>
              <li><a href="/tracker/event/sgdq2011">Summer Games Done Quick 2011</a></li>
              <li><a href="/tracker/event/agdq2012">Awesome Games Done Quick 2012</a></li>
              <li><a href="/tracker/event/sgdq2012">Summer Games Done Quick 2012</a></li>
              <li><a href="/tracker/event/spook">Speedrun Spooktacular</a></li>
              <li><a href="/tracker/event/agdq2013">Awesome Games Done Quick 2013</a></li>
              <li><a href="/tracker/event/sgdq2013">Summer Games Done Quick 2013</a></li>
              <li><a href="/tracker/event/agdq2014">Awesome Games Done Quick 2014</a></li>
              <li><a href="/tracker/event/sgdq2014">Summer Games Done Quick 2014</a></li>
              <li><a href="/tracker/event/agdq2015">Awesome Games Done Quick 2015</a></li>
              <li><a href="/tracker/event/sgdq2015">Summer Games Done Quick 2015</a></li>
              <li><a href="/tracker/event/agdq2016">Awesome Games Done Quick 2016</a></li>
              <li><a href="/tracker/event/sgdq2016">Summer Games Done Quick 2016</a></li>
              <li><a href="/tracker/event/agdq2017">Awesome Games Done Quick 2017</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/tracker/">All Events</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br/><br/>
  {% block body %}
  {% endblock %}

  <div class="footer">

  </div>
  <div class="container-fluid text-center" style="margin-bottom:30px;">
    Running on Django with Python
    <br/>
    Python code by UraniumAnchor, SMK, and jdeng
    <br/>
    CSS by Cool Matty
  </div>
</body>
</html>
