{% extends 'base.html' %}

{% block title %}
{{ donor.name }} &mdash; AGDQ
{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="fa-stack center-block medium-icon-blue fa-5x">
		<i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
	</div>
	<h2 class="text-center">
		Run Index
		&mdash;
		{{ event }}
	</h2>
	<table class="table table-striped table-condensed small">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Players
				</th>
				<th>
					Description
				</th>
				<th>
					Start Time
				</th>
				<th>
					End Time
				</th>
				<th>
					Bid Wars
				</th>
			</tr>
		</thead>
		<tr class="small">
			<td>
				<a href="/tracker/run/972">Toejam And Earl 2: Panic On Funkotron</a>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<span class="datetime">07/07/2014 23:37:56 +0000</span>
			</td>
			<td>
				<span class="datetime">07/07/2014 23:37:56 +0000</span>
			</td>
			<td>
				<b>Yes</b>
			</td>
		</tr>
		<tr class="small">
			<td>
				<a href="/tracker/run/973">Mega Man 3</a>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<span class="datetime">07/07/2014 23:37:56 +0000</span>
			</td>
			<td>
				<span class="datetime">07/07/2014 23:37:56 +0000</span>
			</td>
			<td>
				No
			</td>
		</tr>
		
		<tr class="small">
			<td>
				<a href="/tracker/run/1934">Final Fantasy Vi Any% Sketch Glitch</a>
			</td>
			<td>
				bichphuongballz
			</td>
			<td>
				
			</td>
			<td>
				<span class="datetime">07/09/2016 21:48:00 +0000</span>
			</td>
			<td>
				<span class="datetime">07/10/2016 02:10:00 +0000</span>
			</td>
			
			<td>
				<b>Yes</b>
			</td>
			
		</tr>
		
		<tr class="small">
			<td>
				<a href="/tracker/run/1935">Super Metroid Any%</a>
			</td>
			<td>
				oatsngoats, sweetnumb, zoast, Behemoth87
			</td>
			<td>
				
			</td>
			<td>
				<span class="datetime">07/10/2016 02:10:00 +0000</span>
			</td>
			<td>
				<span class="datetime">07/10/2016 03:22:00 +0000</span>
			</td>
			
			<td>
				<b>Yes</b>
			</td>
			
		</tr>
		
		<tr class="small">
			<td>
				<a href="/tracker/run/1936">Super Mario Rpg: Legend Of The Seven Stars Any%</a>
			</td>
			<td>
				LackAttack24
			</td>
			<td>
				
			</td>
			<td>
				<span class="datetime">07/10/2016 03:22:00 +0000</span>
			</td>
			<td>
				<span class="datetime">07/10/2016 06:50:00 +0000</span>
			</td>
			
			<td>
				<b>Yes</b>
			</td>
			
		</tr>
		
		<tr class="small">
			<td>
				<a href="/tracker/run/1945">Super Mario 64 70 Star Encore 70 Star</a>
			</td>
			<td>
				Puncayshun, Cheese05, Simply, Biinny
			</td>
			<td>
				Super Mario 64 70 Race by Biinny, Simply, Puncayshun, and cheese05
			</td>
			<td>
				<span class="datetime">07/10/2016 06:50:00 +0000</span>
			</td>
			<td>
				<span class="datetime">07/10/2016 08:00:00 +0000</span>
			</td>
			
			<td>
				No
			</td>
			
		</tr>
		
	</table>
	


	<p class="text-center extra-spacing"><a href="/tracker/" class="btn btn-default">
		Back to Main Index</a></p>

	</div>

	{% endblock %}